#/bin/bash

virt-install \
  --connect=qemu:///system \
  --import \
  --memory {{ parent_item.memory }} \
  --vcpus {{ parent_item.vcpus }} \
  --network bridge=br0 \
  --name {{ parent_item.instance_id }} \
  --disk {{images_directory}}/{{ parent_item.instance_id }}.raw,device=disk,bus=virtio,format={{ parent_item.image_format }} \
  --disk {{images_directory}}/isos/cloud-init/{{parent_item.instance_id}}-seed.iso,device=cdrom \
  --os-variant {{parent_item.os_variant}} \
  --virt-type kvm \
  --graphics none \
{% if parent_item.noautoconsole is defined and parent_item.noautoconsole %}
  --noautoconsole \
{% endif %}
  --autostart
