#/bin/bash

NAME={{ parent_item.instance_id }}

qemu-img create -f qcow2 /var/lib/libvirt/images/$NAME.qcow2 100G

virt-install \
  --connect=qemu:///system \
  --memory 12288 \
  --vcpus 6,sockets=1 \
  --network bridge=br0,model=virtio \
  --name ${NAME} \
  --disk {{ images_directory }}/${NAME}.qcow2,device=disk,bus=virtio,format=qcow2 \
  --disk {{ images_directory }}/isos/windows/virtio-win-0.1.225.iso,device=cdrom \
  --cdrom {{ images_directory }}/isos/windows/Win10_22H2_EnglishInternational_x64.iso \
  --os-variant win10 \
  --features kvm_hidden=on \
  --machine q35 \
  --virt-type kvm \
  --graphics vnc,listen=0.0.0.0,passwd={{ parent_item.vnc_pass | mandatory("Set kvm_windows_vnc_pass (or parent_item.vnc_pass) before running windows VM provisioning") }}
  # --host-device=pci_0000_03_00_0 \
  # --host-device=pci_0000_03_00_1 \
  # --host-device=pci_0000_00_1a_0 \
  # --host-device=pci_0000_00_1d_0 \

# add device one by one
# virsh edit windows-vm1
#    <hostdev mode='subsystem' type='pci' managed='yes'>
#      <source>
#        <address domain='0' bus='3' slot='0' function='0'/>
#      </source>
#    </hostdev>
#    <hostdev mode='subsystem' type='pci' managed='yes'>
#      <source>
#        <address domain='0' bus='3' slot='0' function='1'/>
#      </source>
#    </hostdev>
#    <hostdev mode='subsystem' type='pci' managed='yes'>
#      <source>
#        <address domain='0' bus='0' slot='0x1a' function='0'/>
#      </source>
#    </hostdev>
#    <hostdev mode='subsystem' type='pci' managed='yes'>
#      <source>
#        <address domain='0' bus='0' slot='0x1d' function='0'/>
#      </source>
#    </hostdev>
